.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.container_col {
  display: flex;
  flex-wrap: wrap;
}

.column:nth-child(2) {
  flex: 4; /* This makes the second column take up 2/3 of the page */
}

@media (max-width: 1020px) {
  .column{
    flex: 100%;
    margin-bottom: 20px;
  }
}

LinkButton {
  margin: 10%;
  padding: 10%;
}

LinkButton &:hover{
  text-decoration: none !important
}
